*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary-light: #fff;
  --dark-text: #344252;
  --paragraph-text: #a2a8b0;
  --primary-dark: #000;
  --secondary-dark: #121212;

  --btn-dark: #273240;
  --btn-light: #ffffff;
  --btn-light-border: #d7dff8;
  --link: #243bc5;
}

body {
  font-family: "Mulish", sans-serif;
  background: var(--primary-light);
  color: var(--secondary-dark);
}

/* reset styling */

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}

p {
  margin: 0.67em 0;
}

li {
  list-style: nonee;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* image and video */

img,
video {
  height: auto;
  max-width: 100%;
}

/* tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

/* utilities */

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

/* buttons */
.btn {
  padding: 0.35rem 1.25rem;
  border-radius: 2.25px;
  border: none;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-dark {
  background-color: var(--btn-dark);
  color: var(--primary-light);
}

.btn-light {
  background-color: var(--btn-light);
  border: 1px solid var(--btn-light-border);
}

.btn-dark:hover {
  opacity: 0.85;
}

.btn-light:hover {
  border-color: #95adf5;
}

.link {
  color: blue;
  text-decoration: underline;
}

#open-modal {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 52px 48px rgba(119, 146, 229, 0.302);
  border: 0.5px #ccc solid;
  background: var(--secondary-dark);
  color: var(--primary-light);
  border-radius: 5px;
  text-transform: capitalize;
}

#open-modal:hover {
  opacity: 0.8;
}

#open-modal:active {
  transform: scale(0.95);
}

/* modal */
h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  text-transform: capitalize;
}

.modal-content {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  box-shadow: 0 52px 48px rgba(119, 146, 229, 0.302);
  padding: 2.5rem 1.5rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s ease;
  pointer-events: none;
  opacity: 0;
  z-index: 45;
}

.main-modal {
  min-width: 45%;
  border-radius: 5px;
}

.modal-content.active {
  pointer-events: all;
  opacity: 1;
  top: 50%;
}

.exit {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b7b9bf;
}

#overlay.active {
  display: block;
}

#allow {
  width: 40%;
  border-radius: 5px;
}

#decline {
  width: 40%;
  border-radius: 5px;
}

.question-modal-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.question-modal-cta {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: end;
}

/* accordion */

.accordions {
  margin-top: 1rem;
}

.accordion {
  padding: 0.5rem;
  width: 100%;
  display: inline-block;
}

.accordion button {
  display: flex;
  align-items: center;
  gap: 0.85rem;
  width: 100%;
  border: none;
  border-radius: 2.25px;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

/* .accordion-button svg {
  transform: rotate(-45deg);
} */

.accordion-content {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 0.85rem;
}

.accordion .accordion-content {
  display: none;
}

.accord-active + .accordion-content {
  display: inline-block;
}

@media all and (max-width: 900px) {
  .modal-content {
    width: 80%;
  }

  #allow,
  #decline {
    width: 80%;
  }
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  .btn,
  .link,
  p,
  .accordion button {
    font-size: 0.85rem;
  }

  .modal-content {
    width: 90%;
  }

  #allow,
  #decline {
    width: 85%;
  }
  .btn {
    margin: 0.25rem 0;
  }
}
