*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 5rem 0;
  background: #acb6e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.phone {
  position: relative;
  height: 712px;
  width: 375px;
  background: #e1eaff;
  border-radius: 4.5rem;
  border: 0.7rem solid black;

  &-speaker {
    position: absolute;
    left: 50%;
    top: -0.15rem;
    transform: translateX(-50%);
    height: 1.5rem;
    width: 13rem;
    background: black;
    border-radius: 0 0 2rem 2rem;
  }

  &-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    padding: 1rem;
  }

  &-app-title {
    font-size: 1.75rem;
    text-transform: capitalize;
  }
}

.count {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-circle {
    height: 16rem;
    width: 16rem;
    border: #cf73db 0.75rem solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-number {
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
  }

  &-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }

  &-buttons button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background: rgb(198, 67, 183);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-family: inherit;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  &-buttons button:hover {
    background: rgb(170, 44, 155);
  }
}
